{% extends 'base.html' %}
{% block title %}
  Analyze Hand | Jacks or Better
{% endblock %}

{% block content %}
  <div class="row mt-4 mb-2">
    <div class="col-md-12">
      <h1>Video Poker Tutor</h1>
    </div>
  </div>

  <div class="row mt-2 text-center">
    <div class="col-md-8" id="card_display">
    {% for card in cards %}
      <img src="/static/cards/{{ card }}.png" height="200px" class="mr-2"  id="{{card}}" onclick="onCardClick('{{card}}');"
        {% if card in hold_cards %} style="border: 3px solid maroon" {% else %} style="border: 0px solid yellow" {% endif %}>
    {% endfor %}
  </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-8">
      <div
        {% if winning_hand %}
          class="alert alert-success"
        {% else %}
          class="alert alert-danger"
        {% endif %}
      >
        <h4>{{ score }}</h4>
        Select a card to hold it. Non-selected cards are discarded.
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-8">
      <h3><a href="/game_result/f-f-f-f-f" class="btn btn-primary" id="draw_btn">Draw</a>
      <a href="/analyze/{{url_hand}}" class="btn btn-primary">Analyze This Hand</a>
      <a href = "#" onClick="onAnalysisToggle()" class="btn btn-primary">Toggle Suggestions</a>
      <a href="/" class="btn btn-primary">Main Menu</a></h3>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12" id="analysis_table" style="display: none">
      <h4>Possible Plays Detail</h4>
      <table class="table table-sm table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Hold Cards</th>
            <th>Expected Value</th>
          <tr>
        <thead>
          <tbody>
          {% for play in plays %}
          <tr>
            <td>{{ play }}</td>
            <td>{{ ev[loop.index0] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
<script>
    analy = true;
    held_cards = [false, false, false, false, false]
    mapping = []
    function onAnalysisToggle(){
        if (analy == false){
            document.getElementById("analysis_table").style.display = "none";
            analy = true;
        } else {
            document.getElementById("analysis_table").style.display = "inline";
            analy = false;
        }    
    }
    function onCardClick(id){
      index = mapping.indexOf(id);
      if (held_cards[index]){
        //True
        held_cards[index] = false;
      } else {
        held_cards[index] = true;
      }
      updateGUI()
    }
    function updateGUI(){
      result_string = "/game_result/";
      for (i = 0; i< held_cards.length; i++){
        if (held_cards[i] == true){
          result_string += "t";
          document.getElementById(mapping[i]).style="border: 3px solid maroon"
        } else {
          result_string += "f";
          document.getElementById(mapping[i]).style="border: 0px solid yellow"
        }
        if (i != 4){
          result_string += "-";
        }
        document.getElementById("draw_btn").href = result_string;
      }


    }
    function firstLoad(){
      mapping = String("{{url_hand}}").split('-');
    }
    firstLoad()
</script>
{% endblock %}
